
.select {
    position: relative;
    width: 170px;
    user-select: none;
}

.select.is-active .select__body {
    display: block;
}

.select__header {
    border: 1px solid #ccc;
    cursor: pointer;
    display: flex;
}

.select__current {
    font-size: 18px;
    line-height: 24px;
    padding: 8px;
}

.select__icon {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    height: 40px;
    margin-left: auto;
    text-align: center;
    width: 40px;
}

.select__body {
    border: 1px solid #cccccc;
    border-top: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #fff;
}

.select__item {
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    padding: 8px;
}

.select__item:hover {
    background-color: #f2f2f2;
}

.cases__sort, .name__sort {
    margin-left: 10px;
    display: inline-block;
    cursor: pointer;
    width: 70px;

    border: 1px solid black;
    border-radius: 5px;
    text-align: center;

    user-select: none;
}

.hide {
    display: none;
}

.statistic {
    height: 300px;
    width: 100%;
    overflow-y: auto;
}

.main {
    display: flex;
}

#aside-left {
    min-width: 20%;
}

#aside-right {
    min-width: 20%;
}

#map {
    height: 580px;
    width: 100%;
}

.stat__item img {
    vertical-align: middle;
}
