html {
    font-size: 10px;
}

#list2 {
    margin-top: 4rem;
    position: relative;
}

.select {
    position: relative;
    width: 17rem;
    user-select: none;
    z-index: 2;
}

.select.is-active .select__body {
    display: block;
}

.select__header {
    border: 1px solid #ccc;
    cursor: pointer;
    display: flex;
}

.select__current {
    font-size: 1.8rem;
    line-height: 2.4rem;
    padding: 0.8rem;
}

.select__icon {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    height: 4rem;
    margin-left: auto;
    text-align: center;
    width: 4rem;
}

.select__body {
    border: 1px solid #cccccc;
    border-top: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #fff;
}

.select__item {
    cursor: pointer;
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 0.8rem;
}

.select__item:hover {
    background-color: #f2f2f2;
}

.cases__sort, .name__sort {
    margin: 0 0 1rem 1rem;
    padding: 0.4rem 1rem;
    display: inline-block;
    cursor: pointer;
    font-size: 1.5rem;

    border-radius: 5px;
    outline: none;
    background: #3c3939;
    border: 1px solid #794b4b;
    color: #dedede;
    user-select: none;
}

.cases__sort:hover, .name__sort:hover {
    background-color: #4a4747;
}

.cases {
    margin-right: 3px;
    color: red;
}

.hide {
    display: none;
}

.statistic {
    height: 30rem;
    width: 100%;
    overflow-y: auto;
    font-size: 1.8rem;
    margin-top: 1rem;
}

.stat__item {
    padding: 0.8rem 0;
    cursor: pointer;
    border-bottom: 1px solid #cacaca;
}

.stat__item.highlighed {
    background-color: #8d1e1e;
}

.stat__item img {
    vertical-align: middle;
}

.input__block {
    margin: 1.5rem 0;
    position: relative;
}

.input {
    width: 16.2rem;
    height: 2.5rem;
    border: none;
    background-color: #3c3c3c;
    border-radius: 0.5rem;
    outline: none;
    color: #dedede;
}

.input:focus {
    border: 1px solid #a2a1a1;
    border-radius: 0.5rem;
}

.header__table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#style-3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar {
    width: 0.6rem;
    background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb {
    background-color: #000000;
}
